## .NET
bin/
obj/
*.user
*.suo
*.vs/
.vs/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
publish/

## NuGet
*.nupkg
**/packages/*
project.lock.json
project.fragment.lock.json
artifacts/

## IDE
.idea/
*.sln.iml
.vscode/

## OS
Thumbs.db
.DS_Store
